#earbuds_animation-con {
    margin-top: 40px;
    padding-top: 100px;
}

#explode-view {
    max-width: 100%;
  }

@media screen and (min-width: 768px){
    #earbuds_animation-con img {
        padding-left: 80px;
      }
}
